{% extends "base.html" %}

{% block content %}


<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
{% include "where/add_button.html" %}
    
    <div class="flex flex-wrap -m-4 mt-6">
        {% for i in item %}
      <div class="p-4 md:w-1/4">
        <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
          <div class="flex items-center mb-3">
            <h2 class="text-white text-lg title-font font-medium">{{ i.name }}</h2>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/4">
        <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
          <div class="flex items-center mb-3">
            <h2 class="text-white text-lg title-font font-medium">{{ i.place }}</h2>
          </div>
        </div>
      </div>
        <div class="p-4 md:w-1/4">
            <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
                <div class="flex items-center mb-3">
                    {% comment %} <h2 class="text-white text-lg title-font font-medium">{{ i.info|truncatewords:5 }}</h2> {% endcomment %}
                    <h2 class="text-white text-lg title-font font-medium">{{ i.info|slice:30 }}</h2>
                </div>
            </div>
        </div>
        <div class="p-4 md:w-1/4">
          <div class="flex rounded-lg h-full bg-gray-800 bg-opacity-60 p-8 flex-col">
            <a href={% url 'where:edit-item' i.pk %} class="mt-3 text-indigo-400 inline-flex items-center">
              <div class="flex-grow">
                <p>Edit</p>
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}